.login {
  background-color: #222D32;
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

a:active,
a:hover,
a:visited,
a:link{
  text-decoration: none;
}
.panel .panel-heading {
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  padding: 0;
  text-align: center;
}

.mt_150 {
  margin-top: 150px;
}

.aside{
  width: 180px;
  height: 100%;
  background-color: #222D32;
  position: fixed;
  left: 0;
  top: 0;
  z-index:999;
  transition: all 1s;
}
.aside.hiddens {
  left: -180px;
}
.aside .top{
  width: 100%;
  height: 50px;
  line-height:50px;
  text-align: center;
  color: #fff;
  background-color: #367FA9;
  font-size: 22px;

}

.aside .mid{
  width: 180px;
  height: 180px;
  padding-top: 30px;
  text-align: center;
  color: #fff;
  font-size: 18px;
}

.aside .mid img{
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
}

.aside .mid p{
  margin-top: 10px;
}
.aside .nav a{
  display: block;
  height: 40px;
  line-height: 40px;
  width: 100%;
  color: #fff;
  padding-left: 40px;
  border-left: 3px solid transparent;
}
.aside .nav a.current{
  background-color: #1D1F21;
  border-left: 3px solid #006699;
}
.aside .nav i{
  margin-right: 5px;
}
.aside .nav .child a{
  padding-left: 60px;
}

/*.aside .bot{*/
  /*text-align: center;*/
/*}*/


.aside .nav a{
  height: 40px;
  line-height: 40px;
  color: #fff;
  padding-left: 40px;
  display: block;
  border-left: 3px solid transparent;
}

.main{
  width: 100%;
  height: 1000px;
  padding-left: 180px;
  padding-top: 50px;
  transition: all 1s;
}
.main.hiddens{
  padding-left: 0;
}
.main .ups{
  padding-left: 180px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #3C8DBC;
  z-index:998;
  transition: all 1s;
}
.ups.hiddens{
  padding-left: 0;
}
.main .ups a{
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  text-align: center;
 }

.main .container .breadcrumb{
  margin-top: 20px;
}

.echarts_1,
.echarts_2{
  width: 48%;
  height: 400px;
}

.table.table-bordered th,
.table.table-bordered td{
  text-align: center;
  vertical-align: middle;
}
.modal-body p{
  color: red;
}

#paginator{
  cursor: pointer;
}